html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    height: 2000px;
}

header {
    background-color: #5C6F4E;
    padding: 25px 0;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    background-color: #7B89BA; 
    padding: 10px 8px;
}

.container {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
}


.logo {
    font-size: 3.6rem;
    line-height: 1.17;
    text-decoration: none;
    color: white;
}

nav {
    width: 265px;
    height: 187px;
    position: relative;
    top: 0px; left: -180px;
}

.account:hover .account {
    background-color: #6F7397;
}
.account:hover {
    display: block;
}

.account a {
    font-size: 2.4rem;
    line-height: 1.17;
    text-decoration: none;
    color: black;
    float: none;
    padding: 16px 35px;
    text-decoration: none;
    display: block;
    text-align: left;
}

